<% if( curr_user  ){ %>
<a href="/logout">Log out</a>
<h1> <%= curr_user.email %> </h1>

<% } %>

<% if( posts && posts.length > 0  ){ %>
<table>
    <tbody>
    <% for(var i=0; i < posts.length; i++) { %>
    <tr>

        <td><%= posts[i].title %></td>
        <td><%= posts[i].body %></td>
    </tr>
    <% } %>
    </tbody>
</table>

<% } %>

<h1>New Post</h1>

<form action="/posts/create" method="post">

    <label name="title">Title</label>
    <input type="text" name="title" value=""/>

    <label name="body">Body</label>
    <input type="text" name="body" value=""/>


    <input type="submit" value="Post">
</form>