<table>
<tbody>
<% for(var i=0; i < users.length; i++) { %>
<tr>
    <td>User<%= i+1 %>&nbsp;</td>
    <td><%= users[i].email %></td>
    <td><%= users[i].name %></td>
    <td><a href="/show/<%= users[i].id %>">Posts</a></td>
</tr>
<% } %>
</tbody>
</table>
<a href="/login">Log In Here</a>