<h1>Login</h1>

<form action="/login" method="post">

    <label name="title">Email</label>
    <input type="text" name="email" value=""/>

    <label name="title">Password</label>
    <input type="text" name="password" value=""/>


    <input type="submit" value="Login">
</form>