<!-- Look ma, no form helpers! -->
<h1>New User</h1>
<form action="/create" method="post">

    <label name="title">Email</label>
    <input type="text" name="email" value="">

    <label name="title">Name</label>
    <input type="text" name="name" value="">

    <input type="submit" value="Register">

</form>